/*Add modal styling for mobile app*/
.modal-body .image-wrapper-mobile{
    position:absolute;
    width:87%;
    top:11%;
    left:7%;
    border:none;
    z-index:-1;
    opacity:0;
    -webkit-transition:all 0.5s ease-out 0.7s;
    transition:all 0.5s ease-out 0.7s;
}

.modal-body .image-wrapper-mobile.done {
    opacity:1;
}